.path1{
    stroke:none;
    fill-rule:nonzero;
    /* fill:rgb(0%,0%,0%); */
    fill-opacity:1;
}

/* stroke:none;fill-rule:nonzero;fill:rgb(0%,0%,0%);fill-opacity:1; */

.path2{
    /* stroke:none; */
    fill-rule:nonzero;
    fill:rgb(43.137255%,46.27451%,49.019608%);
    fill-opacity:1;
}

.icon{
    font-size: 1.3em;
    width: 1.7em;
    height: 1.7em;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.icon:hover{
    background-color: rgb(75, 36, 54);
}

.likedIcon{
    color: rgb(249, 24, 128);
}

