.sidebar-item a{
    display: flex;
    align-items: center;
    text-decoration: none;
    gap: 1em;
    font-size: 1.1em;
    font-weight: 600;
    color: #fff;
    margin-top: 1.5em;
    /* background-color: #1d9bf0; */
    /* padding: ; */
}

.sidebar-item a:hover{
    margin-top: 0.2;
    padding: 0.5em;
    background-color: rgb(48, 48, 48);
    border-radius: 20px;
}

.tweet-button{
    color: #fff;
    text-decoration: none;
    width: 100%;
    background-color: #1d9bf0;
    display: flex;
    font-size: 1.1em;
    justify-content: center;
    align-items: center;
    padding: 0.7em;
    border-radius: 30px;
    margin-top: 2em;
    font-weight: 500;
}

.color-green{
    background-color: rgb(40, 152, 115) !important;
}

.profile-photo{
    width: 2.5em;
}


.profile-container{
    align-items: center;
    display: flex;
    gap: 0.8em;
}

.profile h6{
    font-size: 0.7em;
    font-weight: 500;
}

.profile p{
    color: #8f9396;
    font-size: 0.7em;
}

.private,.more-icon{
    width: 1em;
}
