.sidebar-item a{
    display: flex;
    align-items: center;
    text-decoration: none;
    gap: 1em;
    font-size: 1.1em;
    font-weight: 600;
    color: #fff;
    margin-top: 1.5em;
}

/* .button-container{
    width: 100%;
    background-color: #1d9bf0;
} */

.tweet-button{
    color: #fff;
    text-decoration: none;
    width: 100%;
    background-color: #1d9bf0;
}